@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

h1 {
  color: #000000;
  margin-bottom: 0.5rem;
  font-size: 1.75rem;
  text-align: center;
}
.new-task-button {
  text-align: right;
}
.container-todo {
  background: white;
  margin-top: 5rem;
  padding: 2rem;
  border-radius: 5px;
  max-width: 700px;
  width: 100%;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
}
.fa-user {
  padding: 1rem;
  font-size: 1.2rem;
  color: #046ee5;
}
.icon-name {
  font-size: 1rem; 
}
.fa-trash {
  margin-left: 0.75rem;
}
.completed {
  color: #c5aeff;
  text-decoration: line-through;
}
button {
  padding: 10px 16px;
  margin: 0.7rem;
  background-color: #046ee5;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  color: white;
  display: inline-block;
  align-items: center;
  justify-content: center;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #f2f8fb;
  border-radius: 5px;
}
.app-name {
  font-size: 1.5rem;
  font-weight: bold;
}
.welcome {
  display: flex;
  align-items: center;
  font-size: 1rem;
}
.welcome svg {
  margin-left: 5px;
}
.user-icon {
  position: relative;
  cursor: pointer;
}
.user-dropdown {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: white;
  border: 0.5px solid #ccc;
  border-radius: 5px;
  display: none;
  flex-direction: column;
  width: 100px;
}
.user-dropdown a {
  padding: 5px;
  color: black;
  text-decoration: none;
  color: inherit;
}
.user-dropdown a:hover {
  background: #f2f8fb;
}
.user-icon:hover .user-dropdown {
  display: flex;
}